@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


body {
    background-color: #f8f9fa;
}

button {
    background-image: linear-gradient(to right, #b62323, #e8423c, #e8423c, #b62323);
    width: fit-content;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button i {
    margin-right: 5px;
}

button:hover {
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.3s ease-in-out !important;
}

.header {
    background: url('https://images.unsplash.com/photo-1586190848861-99aa4a171e90?auto=format&fit=crop&w=1950&q=80') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 60px 0;
    text-align: center;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
}

.header p {
    font-size: 1.2rem;
}

/* Styling Medewerker index page */
.table-actions form {
    display: inline-block;
}